*{
  margin: 0;
  padding: 0;
}

body{ 
  font-family: 'Montserrat';
}

.swiper-button-prev {
  color: white !important;
}

.swiper-button-next {
  color: white !important;
}

#swiper {
  width: 286px;
  height: 400px;
}

.MuiButton-root.Mui-disabled{
  background:  #1d1d1b91;
  color: #FFFFFF !IMPORTANT;  
  text-transform: none;
  border-radius: 0;
  font-weight: 300;
  cursor: not-allowed !IMPORTANT;  
}
.MuiButton-root.MuiButton-containedPrimary {
  background:  #1D1D1B;
  color: #FFFFFF !IMPORTANT;  
  text-transform: none;
  border-radius: 0;
  font-weight: 300;
}

.MuiButton-root.MuiButton-containedPrimary:hover {
  background:  #1D1D1B;
  color: #FFFFFF !IMPORTANT;  
  text-transform: none;
  border-radius: 0;
  font-weight: 300;
}

.MuiButtonBase-root-MuiButton-root {
  background:  #1d1d1b91;
  color: #FFFFFF !IMPORTANT;  
  text-transform: none;
  border-radius: 0;
  font-weight: 300;
}

.MuiButtonBase-root{
    width: 360px;   
    height: 44px;
    margin-top: 2px;
    color: white;
    border: none;
    font-weight: 400;
    font-size: 15px;
    font-family: 'Montserrat';
    border-radius: 0;
}

.paginationBttns {
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: end;
  margin-top: 34px;
  margin-right: 31px;
  width: 95%;
}

.paginationBttns a{  
    padding: 12px 14px;
    margin: 10px;
    height: 58px;
    width: 44px;
    color: black;
    cursor: pointer;
    background: white;
    width: 100%
}
.paginationBttns a:hover{
  background: black;
  color: white
}
.paginationActive a {
  background: black;
  color: white
}

.swiper-pagination-bullet-active {
  background-color: #000 !important;
}

.MuiAccordionSummary-root{
  width: 100%;
  border:none;
}
.MuiAccordion-root::before {
  display:none;
  border-top: transparent;
  background-color: transparent;
}

/* .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 4px;
  left: 0;
  width: 100%;
  position: absolute; 
} */

.swiper-pagination{
  color: red
}

.swiper{
  height: 430px;
}