*{
  margin: 0;
  padding: 0;
}

body{ 
  font-family: 'Montserrat';

}

.swiper-button-prev {
  color: white !important;
}

.swiper-button-next {
  color: white !important;
}

#swiper {
  width: 286px;
  height: 400px;
}